<form name="assignmentForm1" novalidate>
    <div class="container" ng-controller="Assignment1Controller">
        <div class="row main-row">
            <div class="6u 12u(mobile)">
                <section>
                    <img src="img/bowl.jpg" alt="Bowl" height="150" class="left"/>
                    <h2>Opgave A</h2>
                    <p class="description clearfix">
                        Stel je voor dat deze fles gevuld wordt met water, waarbij het water met constante snelheid
                        stroomt.
                    </p>
                    <ol type="a" class="questions">
                        <li>
                            Schets een grafiek waarin je de hoogte van het water in de fles uitzet tegenover de
                            hoeveelheid water in de fles.
                        </li>
                        <li>
                            Leg uit hoe je tot je antwoord bent gekomen.
                        </li>
                    </ol>

                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <div class="graph">
                        <label>Grafiek</label>
                        <vmath-function-input on-graph-update="saveGraph"></vmath-function-input>
                    </div>
                </section>

            </div>
        </div>
        <div class="row">


            <div class="12u 12u(mobile)">
                <section>
                    <div>
                        <label>Uitleg</label>
                        <textarea name="q1description" required ng-model="description" ng-minlength="10"
                                  ng-change="saveDescription()" placeholder="Minimaal 10 tekens"></textarea>

                        <div role="alert">
                            <span class="error"
                                  ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.required">
                                Dit veld is verplicht
                            </span>
                            <span class="error"
                                  ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.minlength">
                                De uitleg is te kort. Geef meer tekst op.
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <section>
                    <button type="submit" class="button"
                            ng-disabled="!(graphData.dirty && assignmentForm1.q1description.$valid)"
                            ng-click="advanceToNextPage()">Volgende
                    </button>
                </section>
            </div>
        </div>
    </div>
</form>