<form name="assignmentForm1" novalidate>
    <div class="container" ng-controller="Assignment1Controller">
        <div class="row main-row">
            <div class="6u 12u(mobile)">
                <section>
                    <img src="img/bowl.jpg" alt="Bowl" height="150" class="left"/>
                    <h2>{{ 'assignment1.title' | i18next }}</h2>
                    <p class="description clearfix">
                        {{ 'assignment1.description' | i18next }}
                    </p>
                    <ol type="a" class="questions">
                        <li>
                            {{ 'assignment1.questions_li1' | i18next }}
                        </li>
                        <li>
                            {{ 'assignment1.questions_li2' | i18next }}
                        </li>
                    </ol>

                </section>
            </div>
            <div class="6u 12u(mobile)">
                <section>
                    <div class="graph">
                        <label>{{ 'assignment1.label_graph' | i18next }}</label>
                        <vmath-function-input data="graphData" on-graph-update="saveGraph"></vmath-function-input>
                    </div>
                </section>

            </div>
        </div>
        <div class="row">


            <div class="12u 12u(mobile)">
                <section>
                    <div>
                        <label>{{ 'assignment1.label_explanation' | i18next }}</label>
                        <textarea name="q1description" required ng-model="description" ng-minlength="10"
                                  ng-change="saveDescription()" placeholder="{{ 'generic.minimum_characters' | i18next }}"></textarea>

                        <div role="alert">
                            <span class="error"
                                  ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.required">
                                {{ 'generic.required' | i18next }}
                            </span>
                            <span class="error"
                                  ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.minlength">
                                {{ 'generic.minlength' | i18next }}
                            </span>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <section>
                    <button type="submit" class="button"
                            ng-disabled="!(graphData.dirty && assignmentForm1.q1description.$valid)"
                            ng-click="advanceToNextPage()">{{ 'generic.next' | i18next }}
                    </button>
                </section>
            </div>
        </div>
    </div>
</form>