<div class="wf-page" ng-controller="Assignment1Ctrl">
    <div class="question">
        <form name="assignmentForm1" novalidate>
            <h1>Opgave A</h1>
            <p class="description clearfix">
                <img src="img/bowl.jpg" alt="Bowl" height="150"/>
                Stel je voor dat deze fles gevuld wordt met water, waarbij het water met constante snelheid stroomt.
            </p>
            <label>a) Schets een grafiek waarin je de hoogte van het water in de fles uitzet tegenover de hoeveelheid
                water
                in de fles.</label>
            <div class="graph">
                <vmath-function-input on-graph-update="saveGraph"></vmath-function-input>
            </div>
            <p>&nbsp;</p>
            <div class="deepthoughts">
                <label>b) Beschrijf jouw manier van denken
                <textarea name="q1description" required ng-model="description" ng-minlength="10"
                          ng-change="saveDescription()"></textarea>
                </label>
                <div role="alert">
                <span class="error"
                      ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.required">
                    Dit veld is verplicht
                </span>
                <span class="error"
                      ng-show="assignmentForm1.q1description.$touched && assignmentForm1.q1description.$error.minlength">
                    De uitleg is te kort. Geef meer tekst op.
                </span>
                </div>
            </div>
        </form>
    </div>
    <div class="wf-buttons">
        <input type="submit" value="Volgende" ng-disabled="!(graphData.dirty && assignmentForm1.q1description.$valid)"
               ng-click="advanceToNextPage()"/>
    </div>
</div>