<div class="container" ng-controller="CompareController">
    <div class="row">
        <div class="12u 12u(mobile)">
            <section>
                <h2>{{ 'compare.title' | i18next }}</h2>
                <p>
                    {{ 'compare.p' | i18next }}
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="8u 12u(mobile)">
            <section>
                <div class="compare-answers">
                    <div class="answer-row">
                        <div class="title">
                            <h4>{{ 'assignments.title_assignment1' | i18next }}</h4>
                        </div>
                        <div class="question">
                            <img src="img/bowl.jpg" alt="Bol" /></a>
                        </div>
                        <div class="answer">
                            <img src="{{currentRunData.assignment1.graphData.base64url}}" alt=""/>
                        </div>
                        <div class="description">
                            <p>{{currentRunData.assignment1.description}}</p>
                        </div>
                    </div>
                    <div class="answer-row">
                        <div class="title">
                            <h4>{{ 'assignments.title_assignment2' | i18next }}</h4>
                        </div>
                        <div class="question">
                            <img src="img/cylinder.jpg" alt="Bol" /></a>
                        </div>
                        <div class="answer">
                            <img src="{{currentRunData.assignment2.graphData.base64url}}" alt=""/>
                        </div>
                        <div class="description">
                            <p>{{currentRunData.assignment2.description}}</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <section>
                <button type="submit" class="button" ng-click="startNewRun()" ng-if="currentRunData.score>lastScore">{{ 'compare.button_retry' | i18next }}</button>
                <button type="submit" class="button" ng-click="goto('feedback')" >{{ 'compare.button_submit' | i18next }}</button>
            </section>
        </div>
    </div>
</div>