#header .subheader {
    font-size: 0.8em;
    padding-left: 10px;
    color: #0d3349;
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.assignmentcontainer {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 1em;
}

table.studentinfo {
    width: 100%;
    background-color: papayawhip;
}

table.studentinfo th {
    font-weight: normal;
    text-align: right;
    padding: 5px;
}

table.studentinfo td {
    font-weight: bold;
    padding: 5px;
}

.databoard li {
    padding: 4px;
}

.scoreboard {
    background-color: navy;
    padding: 3px;
}
.main-row .scoreboard {
    margin-bottom: 15px;
}

.scoreboard h4 {
    padding: 5px;
    color: white;
    text-align: center;
}
.scoreboard h1 {
    font-size: 40px;
    padding: 10px;
    color: navy;
    background-color: lavender;
    text-align: center;
}

div.answer.correct {
    border: 2px solid green;
}

div.answer.incorrect {
    border: 2px solid red;
}

.rp-results {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #007294;
}

.rp-results .first-column {
    width: 40px;
    color: #fff;
    background-color: #007294;
}

.rp-results .last-column {
    width: 100px;
    color: #fff;
    background-color: #007294;
}

.rp-results .last-column a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}
.rp-results .last-column a:hover {
    text-decoration: none;
    font-size: 0.9em;
}

.rp-results .row-even .last-column a:hover {
    color: #fdf5ce;
}

.rp-results .row-odd .last-column a:hover {
    color: #c7e3fe;
}

.rp-results .header {
    background-color: #007294;
}
.rp-results .header > * {
    padding: 8px;
    color: #fff;
    text-align: left;
}

.rp-results .row-odd {
    background-color: #c7e3fe;
}

.rp-results .row-even {
    background-color: #fdf5ce;
}

.rp-results td {
    padding: 8px;
}

.rp-results-none {
    font-size: 1.4em;
    font-weight: bold;
}

.rp-pagination,
.rp-results-container {
    margin-bottom: 1em;
    position: relative;
}

.rp-pagination {
    height: 30px;
    font-size: 0.9em;
}

.rp-pagination .total {
    font-size: 0.9em;
}

.rp-pagination .page-navigation {
    position: absolute;
    right: 0;
    top: 0;
}

.rp-pagination .page-navigation input {
    border: none;
    background-color: transparent;
    color: #007294;
    padding: 0 1em;
    font-size: 0.9em;
}

.rp-pagination .page-navigation input[disabled] {
    color: #fff;
}

.rp-pagination .page-navigation input:active {
    color: #fff;
    background-color: #007294;
}