.green {
    color: green;
}

.red {
    color: red;
}

.assignmentcontainer {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 1em;
}

table.studentinfo {
    width: 100%;
    background-color: papayawhip;
}

table.studentinfo th {
    font-weight: normal;
    text-align: right;
    padding: 5px;
}

table.studentinfo td {
    font-weight: bold;
    padding: 5px;
}

.databoard li {
    padding: 4px;
}

.scoreboard {
    background-color: navy;
    padding: 3px;
}
.main-row .scoreboard {
    margin-bottom: 15px;
}

.scoreboard h4 {
    padding: 5px;
    color: white;
    text-align: center;
}
.scoreboard h1 {
    font-size: 40px;
    padding: 10px;
    color: navy;
    background-color: lavender;
    text-align: center;
}

div.answer.correct {
    border: 2px solid green;
}

div.answer.incorrect {
    border: 2px solid red;
}