<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".babylon" mimeType="application/babylon" />
            <mimeMap fileExtension=".babylonmeshdata" mimeType="application/babylonmeshdata" />
            <mimeMap fileExtension=".fx" mimeType="application/fx" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
        <defaultDocument>
            <files>
                <add value="index.cfm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
