/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.question {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.question h1 {
}

.question .description {
    font-weight: bold;
}

.question .description img {
    float: left;
    margin: 10px;
}

form {
}

label {
    font-weight: bold;

}

label > textarea {
    font-weight: normal;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 5em;
}

canvas {
    width: 80vmin;
    max-width: 455px;
    height: 80vmin;
    max-height: 455px;
    border: 1px solid grey;

}

canvas.wrong-graph {
    border-color: red;
}

canvas.right-graph {
    border-color: green;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.error {
    font-size: 0.75em;
    font-style: italic;
    color: red;
}

.assignment-compare-block {
    max-width: 400px;
    max-height: 220px;
}

.assignment-compare-block > h3 {

}

.assignment-compare-block > div {
    display: inline-block;
    width: 49%;
}

.assignment-compare-block > div > img {
    width: 100%;
    max-width: 150px;
    max-height: 150px;
}

.answer-graph {

}
.answer-graph img {
    width: 100%;
    max-width:150px;
}

.vmath-function-input {
    position: relative;
}

.vmath-function-input .vmath-function-input-body {

    float: left;
}

.vmath-function-input .vmath-function-input-buttons {
    overflow: hidden;
    max-width: 113px;
    padding-left: 3px;
}

.vmath-function-input .vmath-function-input-bottom {
    clear:both;
}

.vmath-function-input button.clear {
    background-image: url('images/broom-code.png');
    background-repeat: no-repeat;
    background-position: 12px 17px;
    font-size: 12px/16px;
    /*padding: 5px 10px 5px 31px;*/
    text-indent: 10px;
}


@media screen and (min-width: 737px) and (max-width: 1200px) {

    canvas {
        max-width: 365px;
        max-height: 365px;
    }
}

@media screen and (max-width: 736px) {

    canvas {
        max-width: 255px;
        max-height: 255px;
    }

    .vmath-function-input .vmath-function-input-buttons {
        width: 25px;
    }

    .vmath-function-input button.clear {
        padding: 1px;
        background-position: 2px 2px;
        text-indent: 200px;
        width: 21px;
        border-radius: 5px;
    }


    .compare-row {
        background: #c8d2bc url("images/bg1.png");
        padding: 2em 0;
    }
}

.login-form {
    background-color: #efefef;
    padding:1em;
}

.login-form > a.form-container {}

.form-container > div {
    padding-bottom: 1em;
    padding-right: 5px;
}

.form-container  label {
    display: block;
}

.form-container  input,
.form-container  select {
    width: 100%;
}

ol.questions {
    list-style-type: lower-alpha;
    font-weight: bold;
}

ol.questions li {
    margin-bottom: 1em;
}
ol.questions li:last-child {
    margin-bottom: 0;
}

textarea {
    width: 100%;
    height: 5em;
}

.compare-answers {
    width: 100%;
    max-width: 750px;
}
.compare-answers > div.answer-row {
    margin-bottom: 1em;
    position: relative;
    width: 100%;
}
.compare-answers:last-child {
    margin-bottom: 0;
}

.compare-answers .title {

}
.compare-answers .question {
    float: left;
    width: 45%;
}

.compare-answers .answer {
    float: right;
    width: 45%;
}

.compare-answers .question img,
.compare-answers .answer img{
    width: 100%
}

.compare-answers .description {
    clear: both;
    word-wrap: break-word; /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap; /* current browsers */
}

.explanation-form {
    padding: 1em;
    background-color: white;
}

.active {
    color: white;
}