<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="virtualMath" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="virtualMath" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="virtualMath" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="virtualMath" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VirtualMath</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body ng-controller="SurveyController">
<div id="page-wrapper">
    <div id="header-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <header id="header">
                        <h1>Interactive Virtual Math</h1><!-- {{ 'index.title' | i18next }} -->
                        <nav id="nav" class="student-name">
                            <a ng-if="initialized">{{ 'index.logged-in' | i18next }} {{studentData.name}}</a>
                            <span ng-click="changeLang('nl')" ng-class="{nl:'active', en: 'pointer'}[currentLang]">NL</span> | <span ng-click="changeLang('en')" ng-class="{en:'active', nl: 'pointer'}[currentLang]">EN</span>
                        </nav>
                        <!--<nav id="nav">
                            <a href="#/start">Aanmelden</a>
                            <a href="#/assignment1">Opgave A</a>
                            <a href="#/assignment2">Opgave B</a>
                            <a href="#/help">Help</a>
                            <a href="#/help1">Help 1</a>
                            <a href="#/help2">Help 2</a>
                            <a href="#/compare">Vergelijken</a>
                            <a href="#/feedback">Feedback</a>
                        </nav>-->
                    </header>
                </div>
            </div>
        </div>
    </div>

    <div id="main">


        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
                href="http://browsehappy.com/">upgrade
            your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-view autoscroll="true"></div>

        <div></div>


    </div>

    <div id="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="12u">
                    <div id="copyright">
                        &copy; HvA &ndash; ICT Services &ndash; O&O &mdash; VirtualMath: v<span app-version></span>
                    </div>
                    <div class="language-switch">
                        <span ng-click="changeLang('nl')" ng-class="{nl:'active', en:'pointer'}[currentLang]">NL</span> | <span ng-click="changeLang('en')" ng-class="{en:'active', nl:'pointer'}[currentLang]">EN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/ngtouch/build/ngTouch.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/paper/dist/paper-core.js"></script>
<script src="bower_components/i18next/i18next.min.js"></script>
<script src="bower_components/ng-i18next/dist/ng-i18next.min.js"></script>
<script src="app.js"></script>
<script src="screens/start/start.js"></script>
<script src="screens/personal-info/personal-info.js"></script>
<script src="screens/intro/intro.js"></script>
<script src="screens/assignment1/assignment1.js"></script>
<script src="screens/assignment2/assignment2.js"></script>
<script src="screens/help/help.js"></script>
<script src="screens/compare/compare.js"></script>
<script src="screens/feedback/feedback.js"></script>
<script src="components/graph/graph-analyzer.js"></script>
<script src="components/vmath-function-input/vmath-function-input-directive.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/skel-viewport.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>
</body>
</html>
