<div class="container" ng-controller="FeedbackController">
    <div class="row main-row">
        <div class="6u 12u(mobile)">
            <section ng-switch="getScore()">
                <h2>{{ 'feedback.title' | i18next }}</h2>
                <div ng-switch-when="0">
                    <p>
                        {{ 'feedback.switch_0' | i18next }}
                    </p>
                    <p>
                        <span ng-if="!isHelp1Shown() && !isHelp2Shown()">
                            {{ 'feedback.without_help' | i18next }}
                        </span>
                        <span ng-if="isHelp1Shown() && !isHelp2Shown()">
                            {{ 'feedback.some_help' | i18next }}
                        </span>
                        <span ng-if="isHelp1Shown() && isHelp2Shown()">
                            {{ 'feedback.all_help' | i18next }}
                        </span>
                        <span ng-if="hasRedo() && (isHelp1Shown() || isHelp2Shown())">
                           {{ 'feedback.applied_help' | i18next }}
                        </span>
                    </p>
                </div>
                <div ng-switch-when="1">
                    <p>
                        {{ 'feedback.switch_1' | i18next }}
                    </p>
                    <p>
                        <span ng-if="!isHelp1Shown() && !isHelp2Shown()">
                            {{ 'feedback.without_help' | i18next }}
                        </span>
                        <span ng-if="isHelp1Shown() && !isHelp2Shown()">
                            {{ 'feedback.some_help' | i18next }}
                        </span>
                        <span ng-if="isHelp1Shown() && isHelp2Shown()">
                            {{ 'feedback.all_help' | i18next }}
                        </span>
                        <span ng-if="hasRedo && (isHelp1Shown() || isHelp2Shown())">
                            {{ 'feedback.applied_help' | i18next }}
                        </span>
                    </p>
                </div>
                <div ng-switch-when="2">
                    <p>
                        {{ 'feedback.switch_2' | i18next }}
                    </p>
                </div>
                <div ng-switch-default>
                    <p>
                        {{ 'feedback.switch_default' | i18next }}
                    </p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="6u 12u(mobile)">
            <section>
                <h2>{{ 'assignments.title_assignment1' | i18next }}</h2>
                <p>{{ 'feedback.label_reward' | i18next }}:</p>
            </section>
            <section>
                <canvas id="REWARD_ASSIGNMENT_A" width="500" height="500"></canvas>
            </section>
        </div>
        <div class="6u 12u(mobile)">
            <section>
                <h2>{{ 'assignments.title_assignment2' | i18next }}</h2>
                <p>{{ 'feedback.label_reward' | i18next }}:</p>
            </section>
            <section>
                <canvas id="REWARD_ASSIGNMENT_B" width="500" height="500"></canvas>
            </section>
        </div>
    </div>
</div>
