<div class="container">
    <form name="LoginForm" novalidate ng-controller="PersonalInfoController">
        <div class="row main-row">
            <div class="6u 12u(mobile)">
                <section class="bar login-form">

                    <h2>{{ 'personal-info.title' | i18next }}</h2>
                    <div class="form-container">
                        <div class="row">
                            <div class="8u">
                                <label>{{ 'personal-info.label_name' | i18next }}</label>
                                <input type="text" name="studentName" placeholder="{{ 'personal-info.placeholder_name' | i18next }}" ng-model="student.name"
                                       ng-required="true">
                            </div>
                            <div class="4u">
                                <label>{{ 'personal-info.label_age' | i18next }}</label>
                                <input type="number" name="studentAge" placeholder="{{ 'personal-info.placeholder_age' | i18next }}" min="10" max="110"
                                       ng-model="student.age"
                                       ng-required="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <label>{{ 'personal-info.label_school' | i18next }}</label>
                                <input type="text" name="studentSchool" placeholder="{{ 'personal-info.placeholder_school' | i18next }}" ng-required="true"
                                       ng-model="student.schoolName">
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="8u">
                                <label for="studentSchoolType">{{ 'personal-info.label_schooltype' | i18next }}</label>
                                <select name="studentSchoolType" id="studentSchoolType" ng-required="true"
                                        ng-model="student.schoolType">
                                    <option value="" disabled selected>{{ 'generic.select' | i18next }}...</option>
                                    <option>VMBO</option>
                                    <option>HAVO</option>
                                    <option>VWO</option>
                                </select>
                            </div>
                            <div class="4u">
                                <label>{{ 'personal-info.label_year' | i18next }}</label>
                                <input type="number" name="studentSchoolYear" placeholder="{{ 'personal-info.placeholder_year' | i18next }}" ng-required="true"
                                       ng-model="student.schoolYear" min="1" max="6">
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <label for="studentWiskundeType">{{ 'personal-info.label_mathtype' | i18next }}</label>
                                <select name="studentWiskundeType" id="studentWiskundeType" ng-required="true"
                                        ng-model="student.wiskundeType">
                                    <option value="" disabled selected>{{ 'generic.select' | i18next }}...</option>
                                    <option>Wiskunde A</option>
                                    <option>Wiskunde B</option>
                                    <option>Wiskunde C</option>
                                </select>
                            </div>
                        </div>
                        -->
                        <!-- -->
                        <div class="row">
                            <div class="8u">
                                <label for="studentSchoolType">{{ 'personal-info.label_schooltype' | i18next }}</label>
                                <select name="studentSchoolType" id="studentSchoolType" ng-required="true"
                                        ng-model="schoolyears" ng-options="studentSchoolType for (studentSchoolType, studentSchoolYear) in wiskundes">
                                    <option value="" selected>{{ 'generic.select' | i18next }}...</option>
                                </select>
                            </div>
                            <div class="4u">
                                <label>{{ 'personal-info.label_year' | i18next }}</label>
                                <select name="studentSchoolYear" id="studentSchoolYear" ng-disabled="!schoolyears" ng-required="true"
                                        ng-model="schooltypes" ng-options="studentSchoolYear for (studentSchoolYear, studentWiskundeType) in schoolyears">
                                    <option value="" selected>{{ 'personal-info.placeholder_year' | i18next }}...</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <label for="studentWiskundeType">{{ 'personal-info.label_mathtype' | i18next }}</label>
                                <select name="studentWiskundeType" id="studentWiskundeType" ng-disabled="!schooltypes || !schoolyears" ng-required="true"
                                        ng-model="wiskundetype">
                                    <option value="" selected>{{ 'generic.select' | i18next }}...</option>
                                    <option ng-repeat="wiskundetype in schooltypes">{{wiskundetype}}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <section>
                    <button type="submit" class="button"
                            ng-click="advanceToNextPage()"
                            ng-disabled="LoginForm.$invalid">{{ 'personal-info.button' | i18next }}
                    </button>
                </section>
            </div>
        </div>
    </form>
</div>

