<div class="container" ng-controller="CompareCtrl">
    <div class="row">
        <div class="12u 12u(mobile)">
            <section>
                <h2>Vergelijken en inleveren</h2>
                <p>
                    Vergelijk de grafieken. Ben je tevreden? Lever het werk dan in.
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="8u 12u(mobile)">
            <section>
                <ul class="small-image-list">
                    <li>
                        <a href="#"><img src="img/bowl.jpg" alt="Bol" class="left" /></a>
                        <a href="#"><img src="{{currentRunData.assignment1.graphData.base64url}}" alt="" class="right"/></a>
                        <h4>Opgave A</h4>
                        <p>{{currentRunData.assignment1.description}}</p>

                    </li>
                    <li>
                        <a href="#"><img src="img/cylinder.jpg" alt="Cilinder" class="left" /></a>
                        <a href="#"><img src="{{currentRunData.assignment2.graphData.base64url}}" alt="" class="right"/></a>
                        <h4>Opgave B</h4>
                        <p>{{currentRunData.assignment2.description}}</p>
                    </li>
                </ul>
            </section>
        </div>
        <div class="4u 12u(mobile)">
            <section>
                <button type="submit" class="button" ng-click="goto('help1')">Hulp bij de oefening</button>
            </section>

            <section ng-if="currentRunData.score >= 1">
                <button type="submit" class="button" ng-click="goto('help2')">Meer hulp bij de oefening</button>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="12u">
            <section>
                <button type="submit" class="button" ng-click="startNewRun()" ng-if="currentRunData.score>lastScore">Opnieuw proberen</button>
                <button type="submit" class="button" ng-click="goto('feedback')" >Antwoorden indienen</button>
            </section>
        </div>
    </div>
</div>